/* You can add global styles to this file, and also import other style files */
html, body {
    /* background-color: #ffefec; */
    background-color: #fafafa;
}

.btn-right {
    float: right;
}

.spinner {
    border: 5px solid #d3d3d3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
    position: absolute;
    margin: auto auto;
    display: block;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.material-icons.blue500 { color: rgba(3,169,244, 0.87); }
.material-icons.hover-blue500 { color: rgba(0, 0, 0, 0.54); }
.material-icons.hover-blue500:hover { color: rgba(3,169,244, 0.87); }
.material-icons.red500 { color: rgba(244,67,54, 0.87); }
.material-icons.hover-red500 { color: rgba(0, 0, 0, 0.54); }
.material-icons.hover-red500:hover { color: rgba(244,67,54, 0.87); }
