<accordion closeOthers="true">
  <app-accordion-group-list [(isOpen)]="isOrderOpen">
    <div accordion-heading>
      Order
      <span *ngIf="total | async as total" class="float-right pull-right">Total: ${{total}}</span>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item container">
        <div class="row">
          <app-pizza *ngFor="let pizza of pizzas" class="col col-lg-4 col-md-6 col-sm-12 col-12"
                     [orderRef]="orderRef"
                     [pizza]="pizza"
                     [itemCatSnapshots]="itemCats"></app-pizza>
        </div>
      </li>
      <li class="list-group-item">
        <h5 *ngIf="cost | async as cost">
          Subtotal: ${{cost}}
        </h5>
        <h5 *ngIf="total | async as total">
          Total: ${{total}}
        </h5>
        <button type="submit" class="btn btn-success btn-right" style="margin-bottom: 16px;" (click)="isDeliveryOpen = true">Next</button>
        <button type="button" class="btn btn-primary btn-right" style="margin-right: 16px;" (click)="addNewPizza()">
          New Pizza</button>
        <button type="button" class="btn btn-secondary btn-right" style="margin-right: 16px;">Load Pizza</button>
      </li>
    </ul>
  </app-accordion-group-list>
  <accordion-group heading="Delivery" [(isOpen)]="isDeliveryOpen" (isOpenChange)="resetAddressFormValidated()">
    <form class="container" id="delivery-form" novalidate>
      <legend>Order Type</legend>
      <fieldset class="form-group">
        <div class="btn-group">
          <label class="btn btn-primary" btnCheckbox style="box-shadow: 0 0 0 0" formcontrolname="delivery-button"
                 [class.active]="isDelivery | async"
                 (click)="saveIsDelivery(true)">Delivery</label>
          <label class="btn btn-primary" btnCheckbox style="box-shadow: 0 0 0 0" formcontrolname="pickup-button"
                 [class.active]="!(isDelivery | async)"
                 (click)="saveIsDelivery(false)">Pickup</label>
        </div>
      </fieldset>
      <div class="form-group">
        <label for="addressInput">Street address</label>
        <div [class.was-validated]="(isDelivery | async) && addressValidated" style="margin-bottom: 16px">
          <input type="text" class="form-control" id="addressInput" placeholder="Enter street address" name="address"
                 required maxlength="240"
                 [class.is-valid]="(isDelivery | async) && addressValidated && addressValid"
                 [class.is-invalid]="(isDelivery | async) && addressValidated && !addressValid"
                 [disabled]="!(isDelivery | async)"
                 [ngModel]="(address | async)?.line1"
                 (input)="onInputAddress($event.target.value)"
                 (blur)="onInputAddress($event.target.value, true); saveAddress()">
        </div>
        <div [class.was-validated]="(isDelivery | async) && apartmentValidated">
          <input type="text" class="form-control" id="address2Input" placeholder="Enter apartment number"
                 name="apartment" maxlength="240"
                 [class.is-valid]="(isDelivery | async) && apartmentValidated && apartmentValid"
                 [class.is-invalid]="(isDelivery | async) && apartmentValidated && !apartmentValid"
                 [disabled]="!(isDelivery | async)"
                 [ngModel]="(address | async)?.line2"
                 (input)="onInputApartment($event.target.value)"
                 (blur)="onInputApartment($event.target.value, true); saveAddress()">
        </div>
      </div>
      <div class="row">
        <div class="form-group col col-md-4 col-sm-12" [class.was-validated]="(isDelivery | async) && cityValidated">
          <label for="cityInput">City</label>
          <input type="text" class="form-control" id="cityInput" placeholder="Enter city" name="city"
                 required maxlength="240"
                 [class.is-valid]="(isDelivery | async) && cityValidated && cityValid"
                 [class.is-invalid]="(isDelivery | async) && cityValidated && !cityValid"
                 [disabled]="!(isDelivery | async)"
                 [ngModel]="(address | async)?.city"
                 (input)="onInputCity($event.target.value)"
                 (blur)="onInputCity($event.target.value, true); saveAddress()">
          <div class="invalid-feedback">
            Please provide a valid city.
          </div>
        </div>
        <div class="form-group col col-md-4 col-sm-12" [class.was-validated]="(isDelivery | async) && stateValidated">
          <label for="stateInput">State</label>
          <input type="text" class="form-control" id="stateInput" placeholder="Enter state" name="state"
                 required minlength="2" maxlength="2"
                 [typeahead]="states"
                 [class.is-valid]="isDelivery && stateValidated && stateValid"
                 [class.is-invalid]="isDelivery && stateValidated && !stateValid"
                 [disabled]="!(isDelivery | async)"
                 [ngModel]="(address | async)?.state"
                 (input)="onInputState($event.target.value)"
                 (blur)="onInputState($event.target.value, true); saveAddress()">
          <div class="invalid-feedback">
            Please provide a valid state.
          </div>
        </div>
        <div class="form-group col col-md-4 col-sm-12" [class.was-validated]="(isDelivery | async) && zipValidated">
          <label for="zipInput">Zip code</label>
          <input class="form-control" id="zipInput" placeholder="Enter zip code" name="zip"
                 required type="number"
                 [disabled]="!(isDelivery | async)"
                 [ngModel]="(address | async)?.zip"
                 (input)="onInputZip($event.target.value)"
                 (blur)="onInputZip($event.target.value, true); saveAddress()">
        </div>
      </div>
      <button type="submit" class="btn btn-right" style="margin-bottom: 16px;" (click)="isPaymentOpen = true"
              [class.btn-success]="!(isDelivery | async) || (addressValid && apartmentValid && cityValid && stateValid && zipValid)"
              [disabled]="(isDelivery | async) && !(addressValid && apartmentValid && cityValid && stateValid && zipValid)">Next
      </button>
    </form>
  </accordion-group>
  <accordion-group heading="Payment" [(isOpen)]="isPaymentOpen"
                   [isDisabled]="(isDelivery | async) && !(addressValid && apartmentValid && cityValid && stateValid && zipValid)">
    <form class="container" id="payment-form" novalidate>
      <div class="btn-group">
        <label class="btn btn-primary" btnCheckbox style="box-shadow: 0 0 0 0"
               [class.active]="(payment | async)?.type === 'card'"
               (click)="savePaymentType('card')">Card</label>
        <label class="btn btn-primary" btnCheckbox style="box-shadow: 0 0 0 0"
               [class.active]="(payment | async)?.type === 'check'"
               (click)="savePaymentType('check')">Check</label>
        <label class="btn btn-primary" btnCheckbox style="box-shadow: 0 0 0 0"
               [class.active]="(payment | async)?.type === 'cash'"
               (click)="savePaymentType('cash')">Cash</label>
      </div>
      <div *ngIf="['card', 'check'].includes((payment | async)?.type)" class="form-group">
        <label for="fullNameInput">Full name</label>
        <input type="text" class="form-control" id="fullNameInput" placeholder="Enter full name on card" name="name"
               [ngModel]="(payment | async)?.name"
               (input)="paymentPartial['name'] = $event.target.value"
               (blur)="savePayment()">
      </div>
      <div *ngIf="(payment | async)?.type === 'check'" class="form-group">
        <label for="ccNumberInput">Bank number</label>
        <input type="number" class="form-control" id="bankNumber" placeholder="Enter bank number"
               name="bank-number"
               [ngModel]="(payment | async)?.number?.bank"
               (input)="paymentPartial['number/bank'] = $event.target.value"
               (blur)="savePayment()">
      </div>
      <div *ngIf="(payment | async)?.type === 'check'" class="form-group">
        <label for="ccNumberInput">Routing number</label>
        <input type="number" class="form-control" id="routingNumber" placeholder="Enter routing number"
               name="routing-number"
               [ngModel]="(payment | async)?.number?.card"
               (input)="paymentPartial['number/routing'] = $event.target.value"
               (blur)="savePayment()">
      </div>
      <div *ngIf="(payment | async)?.type === 'card'" class="form-group">
        <label for="ccNumberInput">Credit card number</label>
        <input type="number" class="form-control" id="ccNumberInput" placeholder="Enter credit card number"
               name="card-number"
               [ngModel]="(payment | async)?.number?.routing"
               (input)="paymentPartial['number/card'] = $event.target.value"
               (blur)="savePayment()">
      </div>
      <div *ngIf="(payment | async)?.type === 'card'" class="form-group split-50">
        <label for="expDateInput">Expiration date</label>
        <input type="number" class="form-control" id="expDateInput" placeholder="Enter expiration date"
               name="expiration"
               [ngModel]="(payment | async)?.number?.expiration"
               (input)="paymentPartial['number/expiration'] = $event.target.value"
               (blur)="savePayment()">
      </div>
      <div *ngIf="(payment | async)?.type === 'card'" class="form-group split-50">
        <label for="cvcInput">CVC</label>
        <input type="number" class="form-control" id="cvcInput" placeholder="Enter CVC" name="cvc"
               [ngModel]="(payment | async)?.number?.cvc"
               (input)="paymentPartial['number/cvc'] = $event.target.value"
               (blur)="savePayment()">
      </div>
      <div *ngIf="(payment | async)?.type === 'cash'">
        <h4 *ngIf="isDelivery | async">Info: Cash will be accepted by the delivery courier.</h4>
        <h4 *ngIf="!(isDelivery | async)">Info: Cash will be accepted by the cashier.</h4>
      </div>
    </form>
    <button type="submit" class="btn btn-success btn-right" style="margin-bottom: 16px;">Finish</button>
  </accordion-group>
</accordion>
