<accordion closeOthers="true">
  <accordion-group heading="Order" [(isOpen)]="isOrderOpen">
    <app-pizza *ngFor="let pizza of pizzas" [orderRef]="orderRef" [pizza]="pizza" [itemCatSnapshots]="itemCats"></app-pizza>
    <button type="button" class="btn btn-primary" (click)="addNewPizza()">New Pizza</button>
    <button type="button" class="btn btn-secondary">Load Pizza</button>
    <h4 *ngIf="cost | async; let cost">
      Subtotal: ${{cost}}
    </h4>
    <h4 *ngIf="total | async; let total">
      Total: ${{total}}
    </h4>
    <button type="submit" class="btn btn-success btn-right" style="margin-bottom: 16px;" (click)="isDeliveryOpen = true">Next</button>
  </accordion-group>
  <accordion-group heading="Delivery" [(isOpen)]="isDeliveryOpen">
    <fieldset class="form-group">
      <legend>Order Type</legend>
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="orderType" id="delivery"
               [checked]="isDelivery | async"
               (change)="saveIsDelivery($event.target.checked)">
        Delivery
      </label>
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="orderType" id="pickup"
               [checked]="!(isDelivery | async)"
               (change)="saveIsDelivery(!$event.target.checked)">
        Pickup
      </label>
    </fieldset>
    <div class="form-group">
      <label for="addressInput">Street address</label>
      <input type="text" class="form-control" id="addressInput" placeholder="Enter street address"
             [disabled]="!(isDelivery | async)"
             [ngModel]="(address | async)?.line1"
             (input)="addressPartial.line1 = $event.target.value"
             (blur)="saveAddress()">
      <input type="text" class="form-control" id="address2Input" placeholder="Enter apartment number"
             [disabled]="!(isDelivery | async)"
             [ngModel]="(address | async)?.line2"
             (input)="addressPartial.line2 = $event.target.value"
             (blur)="saveAddress()">
    </div>
    <div class="form-group split-33">
      <label for="cityInput">City</label>
      <input type="text" class="form-control" id="cityInput" placeholder="Enter city"
             [disabled]="!(isDelivery | async)"
             [ngModel]="(address | async)?.city"
             (input)="addressPartial.city = $event.target.value"
             (blur)="saveAddress()">
    </div>
    <div class="form-group split-33">
      <label for="stateInput">State</label>
      <input type="text" class="form-control" id="stateInput" placeholder="Enter state"
             [disabled]="!(isDelivery | async)"
             [ngModel]="(address | async)?.state"
             (input)="addressPartial.state = $event.target.value"
             (blur)="saveAddress()">
    </div>
    <div class="form-group split-33">
      <label for="zipInput">Zip code</label>
      <input type="number" class="form-control" id="zipInput" placeholder="Enter zip code"
             [disabled]="!(isDelivery | async)"
             [ngModel]="(address | async)?.zip"
             (input)="addressPartial.zip = parseInt($event.target.value)"
             (blur)="saveAddress()">
    </div>
    <button type="submit" class="btn btn-success btn-right" style="margin-bottom: 16px;" (click)="isPaymentOpen = true">Next</button>
  </accordion-group>
  <accordion-group heading="Payment" [(isOpen)]="isPaymentOpen">
    <button type="submit" class="btn btn-success btn-right" style="margin-bottom: 16px;">Finish</button>
  </accordion-group>
</accordion>
