<div class="panel card" [ngClass]="panelClass">
  <div class="panel-heading card-header" role="tab" (click)="toggleOpen($event)">
    <div class="panel-title\">
      <div role="button" class="accordion-toggle" [attr.aria-expanded]="isOpen">
        <div *ngIf="heading" [ngClass]="{'text-muted': isDisabled}"> {{ heading }}
        </div>
        <ng-content select="[accordion-heading]"></ng-content>
      </div>
    </div>
  </div>
  <div class="panel-collapse" role="tabpanel" [class.collapse]="!isOpen">
    <ul class="list-group list-group-flush">
      <ng-content></ng-content>
    </ul>
  </div>
</div>
