<div class="jumbotron">
    <h1 class="display-3">Welcome to Mom + Pop Pizza!</h1>
    <p class="lead" style="text-align: center;">Here at Mom + Pop Pizza we have finnest selection of toppings and doughs straight from the Italian countryside. Food so good you can smell it while ordering.</p>
    <hr class="my-4">
    <img src="https://images.pexels.com/photos/2232/vegetables-italian-pizza-restaurant.jpg?w=1260&h=750&auto=compress&cs=tinysrgb" alt="https://www.pexels.com/photo/vegetables-italian-pizza-restaurant-2232/" style="width: auto; height: 300px; margin: 0 auto; max-width: 100%; display: block; border-radius: 15px;">
</div>
<a routerLink="/order" class="orderBtn">ORDER NOW</a>