.content {
    width: 85%;
    max-width: 1000px;
    margin: 0 auto;
}

.contentWidth {
    width: 85%;
    max-width: 1000px;
    margin: 0 auto;
}

.title {
    width: 100%;
    text-align: center;
}

.navbar {
    background-color: transparent !important;
    background: transparent !important;
    border-color: transparent !important;
 }
 
 .navbar li { 
    color: #000;
 }