<form class="form-inline" style="text-align: left;">
  <fieldset class="form-group" style="width: 100%">
    <legend style="margin-left: 0.5rem; margin-bottom: 0; padding-top: 0.5rem;">{{itemCat.name}}</legend>
    <app-item-type *ngFor="let itemTypeSnapshot of itemTypeSnapshots | async"
                   [itemTypeSnapshot]="itemTypeSnapshot"
                   [exclusive]="itemCat.exclusive"
                   [inputRef]="itemCat.exclusive ? (pizzaRef + '/' + itemCatSnapshot.key) : (pizzaRef + '/' + itemCatSnapshot.key + '/' + itemTypeSnapshot.key)"></app-item-type>
  </fieldset>
</form>
